.Filtros {
  width: 100%;

  .title-name {
    font-size: 24px;
    display: block;
    font-weight: 200;
    margin: 0;
    padding: 0;

    span {
      font-weight: bold;
      text-transform: uppercase;
      font-family: Poppins-Bold;
    }
  }

}